{% extends 'base.html' %}
{% load static %}

{% block title %}Sign In | ReSail{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'Core/css/auth.css' %}">
{% endblock %}

{% block content %}
<div class="auth-page-wrapper">
    <div class="auth-container">
        <a href="/" class="logo-auth" style="font-size: 32px; font-weight: 800; color: #000; text-decoration: none; display: block; margin-bottom: 40px;">ReSail</a>
        <h2>Sign in</h2>
        
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label>Username</label>
                <input type="text" name="username" placeholder="Your username" required>
            </div>
            <div class="form-group">
                <label>Password</label>
                <input type="password" name="password" placeholder="••••••••" required>
            </div>
            <button type="submit" class="btn-auth">Sign in</button>
        </form>
        
        <p class="switch-auth" style="margin-top: 30px; font-size: 14px; color: #666;">
            New here? <a href="{% url 'signup' %}">Create an account</a>
        </p>
    </div>
</div>
{% endblock %}